*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container{
    width: 550px;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
}

img{
    width: 100%;
}
/* ======================
          Layout
   ====================== */  
/* Header Layout Styles. */
.header-flex{
    display: flex;
    justify-content: space-between;
    height: 81px;
    padding: 0 .5em;
}
.header-icons{
    width: 34px;
    align-self: center;
}
.header-feed-icons{
    width: 84px;
    align-self: center;
}

/* feed section */
.feed-img{
    max-width: 530px;
    width: 100%;
    border-radius: 10px;
}

.feed-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.support-text{
    align-self: flex-start;
    margin-top: -4em;
    padding-left: 1em;
    color: white;
}

.date{
    font-weight: 900;
    letter-spacing: 1px;
}

/* badge section */
.rections img{
    width: 233px;
    top: 120px;
    position: absolute;
    padding-left: 1.5em;
}

/* Like Dislike section */
.like-dislike{
    margin: 1.5em 0;
}
.decide-flex{
    display: flex;
    justify-content: center;
    gap: 24px;
}
/* .decide-icons{
    margin-top: 2em;
    align-self: center;
} */
.decide-box{
    width: 92px;
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.decide-box:hover,
.decide-box:focus{
    background-color: #DBFFF4;
}

.cross{
    width: 25.88px;
    align-self: center;
}
.heart{
    align-self: center;
    width: 40.86px;
}


/* ======================
        chat section
   ====================== */

.chat-con{
    width: 100%;
    height: 100vh;
}

.message {
    position: absolute;
    width: 550px;
    top: 85px;
}

.chat-person{
    display: flex;
    gap: 1em;
    padding: 1.5em 0;
    padding-left: 1em;
    margin-bottom: .5em;
    background-color: rgb(247, 243, 255);
    box-shadow: 0px 0px 2px black;
    border-radius: 8px;
}

.chap-profiles{
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
}

.chat-name{
    padding-top: .5em;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.chat-message {
    font-size: 1.2rem;
}